<html>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
  <title> TIMS map </title>
  <body>
    <h1>This is the map:</h1>

    <div id="map" >
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
     integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
     crossorigin="anonymous"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPh62Cs4RniO3sI9Ag0N1xJkNi8TcaZbk&callback=initMap"
    async defer></script>
    <script src="/js/disruption_map.js" type="text/javascript" charset="utf-8">
    </script>
  </body>
</html>
